[submodule "stonewall-api"]
	path = stonewall-api
	url = git@github.com:SuperJugger88/stonewall-api.git
	branch = main
[submodule "stonewall-web"]
	path = stonewall-web
	url = git@github.com:SuperJugger88/stonewall-web.git
	branch = main